language: node_js
node_js:
  - "8"
sudo: required
services:
  - mongodb
env:
  - PORT=3000 MONGODB_URI=mongodb://localhost/401-dvgram APP_SECRET=DeltaV
before-script:
  - npm install
script:
  - npm test
  - npm run lint
branches:
  only:
  - master
notifications:
  email: false
